.logo{
    color: #2d4b7a;
    height: 12vh;
    padding-top:3.5vh;
    margin-top: 10px;
    align-self: center;
    text-align: center;
    align-content: center;
    font-size: 5vh;
}


.title{
    color: #2d4b7a;
    font-size: 3vh;
    margin: 1vw;
}
.article{
    color:black;
    margin: 5vw;
    width:80vw;
}

.todrop{
    position: relative;
    display: inline-block;
  }
.drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    padding: 12px 16px;
    
    margin-top: 40px;
    z-index: 1;
  }

  button{
      position:relative;
      background-color: transparent;
      border: none;
      display: flex;
      padding: 0px;
      align-content: center;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      width: 20%;
      font-size: 3vh;
      display:block;

  }

  button:focus{
      border:none;
  }
  
  
.todrop:focus-within .drop {
    display: block;
}

.drop a {
    color: black;
    padding: 20px 2px;
    text-decoration: none;
    display: block;
    font-size: 4vw;
  }


#dropImage{
        width: 10vw;
  }

.footer{

    position: fixed;
    bottom:0;
    background-color: white;
    width: 100%;
}

.image img{
    position:relative;
    display: block;
    width:20vw;
}
.image{
    display: flex;
    padding: 20px;
    align-content: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    width: 20%;
}

.navbar {
    background-color: rgb(205, 209, 211);
    color: #2d4b7a;
    width: 100%;
    height: 10vh;
    margin-top: 10px;
    position: relative;
    font-size: 3vh;
}

.image .tekst{
    display: none;
}
.navbar a {
    color: #2d4b7a;
}

.image.active{
    color: RGB(0,0,0);
}

.navbar {
    display: flex;
    transition: 0.3s;
    z-index: 4;
    width: 100%;
}
.content_photography{
    display: block;
}
.content_text{
    background-color: rgba(0, 0, 0, 0);
    color: #1c3358;
    width: 80%;
    margin-top: 15vh;
    margin-left: 30px;
    position: relative;
    font-size: 3vh;
}

.links{
    margin: 6vh;

}

.content_photography a {
    color: black;

}
.content_photography ul {
    width:40%;
    margin-left: 15vw;
    list-style-type: none;
    line-height: 1.5;
}
.content_photography ul li::first-letter {
    color: #2d4b7a;
}   

.category{
    margin-left: 15vw;
    margin-top: 10vh;
    font-size: 20px;
    color: #2d4b7a;

}

@media only screen and (min-width: 768px) {

    .logo{
        color: #2d4b7a;
        height: 12vh;
        padding-top:3.5vh;
        margin-top: 10px;
        align-self: center;
        text-align: center;
        align-content: center;
        font-size: 5vh;
    }
    
    button{
        background-color: transparent;
        border: none;
        font-family: inherit;
        color:inherit;
        align-content: center;
        justify-content: center;
    }
    
    .image img{
        display: none; 
        
        width: 20%;
    }
    .image{
        display: flex;
        padding: 20px;
        align-content: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        width: 20%;
        text-decoration: none;
    }

    .todrop{
        position: relative;
        display: inline-block;
      }
    .drop {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 0;
        padding:0;
        z-index: 1;
        margin-top:10px;
      }
      
    .todrop:hover .drop {
    display: block;
    }
    .drop a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 2vh;
      }
      .drop a:hover {
        background-color: rgb(205, 209, 211);
      }
    .navbar {
        background-color: rgb(205, 209, 211);
        color: #2d4b7a;
        width: 100%;
        height: 10vh;
        margin-top: 10px;
        position: relative;
        font-size: 3vh;
    }

    .image .tekst{
        display: block;
    }
    
    .navbar a {
        color: #2d4b7a;
    }
    
    .image.active{
        color: RGB(0,0,0);
    }
    
    .navbar {
        display: flex;
        transition: 0.3s;
        z-index: 4;
        width: 100%;
    }
    .content_photography{
        display: flex;
    }
    .content_text{
        background-color: rgba(0, 0, 0, 0);
        color: #1c3358;
        width: 40vw;
        margin-top: 15vh;
        margin-left: 30px;
        position: relative;
        font-size: 3vh;
    }
    
    .links{
        margin: 1vh;
    
    }
    
    .content_photography a {
        color: black;
    
    }
    .content_photography ul {
        width:40%;
        list-style-type: none;
        line-height: 1.5;
        margin: 1vw;
        margin-left: 20vw;
        
    }
    .content_photography ul li::first-letter {
        color: #2d4b7a;
    }   
    
    .category{
        margin-left: 20vw;
        margin-top: 10vh;
        font-size: 20px;
        color: #2d4b7a;
    
    }
}
@media print{
   
    .home{
        display:none;
    }
    .content_text {
        margin-top: 20px;
        font-size: 25px;
    }
    .links {
        font-size: 25px;
    }

}
